.box{

    backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    gap: 10px;

    
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 20px;


    input{
        padding: 10px;
    }
    button{
        padding: 15px;
    }


    h2{
        text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    }
}